/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
body{

}
header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-logo{
  float:left;
  width:124px;
  margin:20px 0 0 45px ;
}
.login{
  float:right;
  line-height:65px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  display:block;
  padding:0 25px;
  margin:0 45px;
  color:white;
  cursor:pointer;
}
.login:hover{
   background-color: rgba(255, 255, 255, 0.5);
}
.main{
    background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
    color:white;
}
.text{
  text-align:center;
  padding:180px 0 30px 0;
  opacity:0.7;
}
.text-big{
  font-size:45px;
  font-weight:bold;
}
.switch{
  text-align:center;
  padding-bottom:100px
}
.switch p{
  padding:23px;
  opacity:0.8;
}
.btn{
  padding:8px 24px;
  opacity:0.8;
  border-radius:5px;
  cursor:pointer;
}
.btn:hover{
  opacity:1;
}
.regi{
  background-color:#239b76;
  display:inline-block;
}
.Facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.Twitter{
  background-color:#55acee;
}
.fa{
  padding-right:5px;
}
.back{
  height:580px;
  background-color:#f7f7f7;
}
.contents {
  width:1170px;
  margin:0 auto;
 text-align:center;
 height:580px;

}
.contents h3{
  padding:80px 0 50px 0;
  text-align:center;
  font-weight:normal;
  color:#5f5d60;
  font-size:25px;
  }
.contents-list {
  width:25%;
  float:left;
  position:relative;
}
.language{
  position:absolute;
  top:90px;
  width:100%;
  color:white;
}
.contents-exp{
  width:80%;
  font-size:13px;
  margin:0 auto;
  color:#b3aeb5;
}
.develop{
  padding:80px 0;
  text-align:center;

}
.develop h2{
 font-weight:normal;
 color:#5f5d60;
}
.develop h3{
   color:#5f5d60;
}
.dev-bottom{
  color:white;
  display:inline-block;
  padding:15px 40px;
  margin-top:50px;
  background-color:#5dca88;
  box-shadow:0 7px #1a7940;
  border-radius:3px;
  opacity:0.8;
  cursor:pointer;
}
.dev-bottom:hover {
  opacity:1.0;
}
.dev-bottom:active{
  position:relative;
  top:5px;
  box-shadow:none;
  padding-top:15px;
}
footer{
  padding:30px 35px;
  border:1px solid #eee;
}
footer p{
  font-size:12px;
  color:#b3aeb5;
}
.footer-logo{
  width:124px;
}
